.mfrac {
  font-size: 30px;
}

.comment {
  color: grey !important;
}

.comment > .normal {
  color: grey !important;
}

*:focus {
  outline: #3f51b5 !important;
  /* border:1px solid red; */
}

.center {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
  

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: white; 
}
 
::-webkit-scrollbar-thumb {
  background: #3f51b59e; 
}

::-webkit-scrollbar-thumb:hover {
  background: #3f51b5; 
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Raleway:wght@100&display=swap');

textarea {
  
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: 500;
}