.mfrac {
  font-size: 30px;
}

.comment {
  color: grey !important;
}

.comment > .normal {
  color: grey !important;
}

*:focus {
  outline: #3f51b5 !important;
  /* border:1px solid red; */
}

.center {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

center {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
  

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #5a5959; 
}
 
::-webkit-scrollbar-thumb {
  background: #c1c1c1; 
}

::-webkit-scrollbar-thumb:hover {
  background: #3f51b5; 
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Raleway:wght@100&display=swap');

textarea {
  
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: 500;
}


html,
body {
  height: 100% !important;
  margin: 0 !important;
  overflow: hidden;
}


 /* https://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/ */
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  word-wrap: break-word;
  /* margin-top: 2px; */
  
}

ul {
  word-wrap: break-word;
}

blockquote:before {
  color: #ccc;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}


h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}